<h3 class="ui header">{{t "forms.i-i-s-c-m-s-competence-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.name
      class=(if (v-get validationObject "name" "isInvalid") "error")
      label=(t "forms.i-i-s-c-m-s-competence-e.name-caption")
      data-test-i-i-s-c-m-s-competence-e-----=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "name" "messages")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-c-m-s-competence-e.competenceResource-caption"}}</label>
    {{flexberry-groupedit
      componentName="competenceResourceGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.competenceResource
      content=model.competenceResource
      readonly=readonly
      orderable=false
      class=(if (v-get validationObject "competenceResource" "isInvalid") "error")
      data-test-i-i-s-c-m-s-competence-e-------------------=true
    }}
    {{flexberry-validationmessage error=(v-get validationObject "competenceResource" "messages")}}
  </div>
</form>